name: Node CI

on:
#  schedule:
#    - cron: '0 0 * * *'
 push:
   branches:
     - master
  # release:
  #   types: [created,edited]

jobs:
  listify-auto:
    runs-on: ubuntu-latest
    # if: "! contains(github.event.head_commit.message, 'listify Actions automatic')"
    name: listify auto
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: show pwd
      run: |
        pwd
    - name: listify-actions
      uses: ifuture-pro/listify-actions@master
      with:
        listify: ./ --exclude='^_\S*' --package --exclude_dir=draft --maxlevel=6
        github_token: ${{ secrets.GH_TOKEN }}
